<%- include('layout', { 
  title: 'Links',
  page: 'links',
  body: `
    <h2 style="font-size: 28px; margin-bottom: 30px; font-weight: 600;">Useful Links</h2>
    
    <ul class="links-list">
      ${links && links.length > 0 ? 
        links.map(link => `
          <li>
            <a href="${link.url}" target="_blank">${link.title}</a>
            ${link.description ? `<div class="link-description">${link.description}</div>` : ''}
          </li>
        `).join('') :
        '<li style="text-align: center; padding: 40px; border: none;">No links yet. Check back soon!</li>'
      }
    </ul>
  `
}) %>
